
<!-- post-show -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>Location: {{post.location}}</p>
    <p>Date: {{post.createdAt}}</p>
  </div>
  <div id ='map' style="height: 500px; width: 500px;">
  </div>


  {{#each post.comments}}
    <li class="list-group-item">
      <p> > {{this.content}}</p>
    </li>
  {{/each}} -->
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA098tlCp-gUAnSgWAst8CXHWX2VYblE-o&callback=initMap"
async defer></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.7867, lng: -122.431297},
          zoom: 10
        });
      }
    </script>
<script src='markerclusterer.js'</script>
<script src='js-map.js'</script>
